.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #0c8790 0%, #2478cd 100%);
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  text-align: left;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  background: #2478cd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px auto;
  display: block;
}
h2{
  margin-bottom: 10px;
  text-align: center;
}
